.progressCard {
    width: 133px;
    height: 133px;
    border-radius: 10px;
    background: #1D3557;
    padding: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.label {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.percentage {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    margin-top: 8px;
    background: #2e3c5e;
}

.progressBarContainer {
  width: 100%;
  height: 6px;
  background-color: #F3F4F6;
  border-radius: 999px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  border-radius: 999px;
  transition: width 0.3s ease;
}

.green {
  background-color: #10B981;
}

.blue {
  background-color: #3B82F6;
}

.yellow {
  background-color: #F59E0B;
}

.red {
  background-color: #EF4444;
}
